{% extends 'base.html' %}

{% block title %}Create Sim{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        {{ form }}
        <button type="submit">Add Sim</button>
    </form>
{% endblock %}