{% extends 'base.html' %}

{% block title %}Games List{% endblock %}

{% block content %}
    {% for game in games_list %}
        <p><a href="{% url 'game:game' game.id %}">{{ game }}</a></p>
    {% endfor %}
{% endblock %}