{% extends 'base.html' %}

{% block title %}{{sim.name}} {{sim.surname}}{% endblock %}

{% block content %}
    <p>{{ sim }} {{ sim.age }}</p>
    <p>Health: {{ sim.health }}</p>
    <p>Satiety: {{ sim.satiety }}</p>
    <p>Thirst: {{ sim.thirst }}</p>
    <p>Happiness: {{ sim.happiness }}</p>
    <p>Account balance: {{ sim.account_balance }}</p>

    <button onclick="sth()">Get age</button>
    <button onclick="sth2()">Increase thirst</button>

    {% block javascript %}
        <script>
            function sth() {
                $.get('{% url "game:sim-detail" sim.pk %}', function(data, status){
                    console.log("Data: " + data['age'] + "\nStatus: " + status);
                });
            }
            function sth2() {
                var tok = window.localStorage.getItem('token');
                $.ajax({
                    url: '{% url "game:sim-detail" sim.pk %}',
                    type: 'PUT',
                    data: {
                        name: 'awdgb',
                        surname: 'awdgb',
                        birthday_date: '2000-05-02 20:36:18.820774+00:00',
                        thirst: 90
                    },
                    beforeSend:function(xhr){
                        xhr.setRequestHeader("X-CSRFToken", $.cookie('csrftoken'));
                    },
                    dataType: 'json',
                    success: function(data) {
                        console.log('awdgb');
                    },
                    error:function(XMLHttpRequest, textStatus, errorThrown){
                       document.write(XMLHttpRequest.responseText);
                    }
                });
            }
        </script>
    {% endblock %}
{% endblock %}