{% extends 'base.html' %}

{% block title %}Create Game Menu{% endblock %}

{% block content %}
    <a href="{% url 'game:games_list' %}" class="button">Load</a>
    <a href="{% url 'game:create_sim' %}" class="button">Create game</a>
{% endblock %}
